@model IEnumerable<BeFit.Models.BefitViewModels.StatCountGroup>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExcerciseType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExcerciseCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalRepsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxWeight)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExcerciseType.Name)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.ExcerciseCount)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.TotalRepsCount)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.AvgWeight)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.MaxWeight)
                </th>
            </tr>
        }
    </tbody>
</table>
